@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --main-bg-color: #f0f8ff;
  --text-color: rgba(0, 0, 0, 0.8);
  --accent-color: hsl(200, 100%, 50%);
}

body {
  background-color: var(--main-bg-color, white);
  color: var(--text-color, black);
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: var(--accent-color);
}

section {
  padding: 20px 10px; 
  border: 2px solid var(--accent-color);
  background-color: white;
  margin-bottom: 2rem;
}

main {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

#attendance {
  border-radius: 8px;
  border-style: dashed;
  border-width: 3px;
}

/* Image Misalignment Fix */
#media img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 100%;
    height: auto;
    
    margin-top: 20px;
    margin-bottom: 20px;
}